@use "../setting" as global;
@use "sass:math";

.news{
  background:global.$section-color;
}
.news-inner-wrap{
  padding-top: 120px;
  padding-bottom: 120px;
  @include global.mq('sp') {
    padding-top: 0;
    padding-bottom:60px;
  }
}

.news__inner{
  background-color: #FFFFFF;
  box-shadow:0px 5px 12px 0px #3E3E3E33;
  width:1200px;
  max-width:100%;
  @include global.mq('sp') {
    margin-top:-40px;
  }
}

.news__title{
  
}
.news__content{
  width: 1080px;
  max-width: 100%;
  padding:60px 60px 40px;
  margin:0 auto;
  @include global.mq('sp') {
    padding:40px 0 40px;
  }
}

.news__items{

}

.news__link{
  display: inline-block;
  width:1080px;
  max-width:100%;
  border-bottom:1px solid #CECDCD;
  padding: 40px 0 40px;
  @include global.mq('sp') {
    width: 100%;
    padding: 10px 0 10px;
  }

  &--first{
    border-top:1px solid #CECDCD;
    padding:38px 0 38px;
  }
  &:hover{
    background:#4973FF1A;
  }
}

.news__item{
  display: flex;
  justify-content: center;
  @include global.mq('sp') {
    display: block;
    padding-left:16px;
  }
}

.news__meta{
  display: flex;
  align-items: center;
  width:259px; //固定値で改行させない
  @include global.mq('sp') {
    width:181px;
  }
}

.news__date{
  width: 98px;
  font-size: 18px;
  font-family:global.$ff-en;
  font-weight: 400;
  @include global.mq('sp') {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    width: 76px;
    white-space:nowrap;
  }
}

.news__label{
  display: inline-block;
  text-align: center;
  width: 121px;
  margin-left: 40px;
  @include global.mq('sp') {
    width: 81px;
    margin-left: 24px;
  }
}

.news__label__name{
  display: inline-block;
  font-size: 14px;
  padding:6px 32px;
  white-space:nowrap;
  border-radius:50px;
  border:2px solid #3B69FF;
  @include global.mq('sp') {
    padding:1px 16px;
    font-size: 12px;
  }
  }

.news__text{
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 259px);
  position: relative;
  padding-left: 40px;
  padding-right:83px;
  font-size:18px;
  line-height:math.div(28,18);

  @include global.mq('sp') {
    width: 100%;
    padding:9px 55px 0px 0px;
  }
  &::after{
    content: "";
    display: inline-block;
    width: 43px;
    height: 46px;
    background: url(../img/news-arrow.png) no-repeat center center/10.75px 21.5px ;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
  }
}

.news__btn{
  text-align: center;
  margin-top:40px;
}
